app-hero {
	position: relative;
	--skew: 0;

	&::before {
		--height: calc(calc(100vw * 9) / 12);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		height: var(--height);
		max-height: 460px;
		background-image: linear-gradient(45deg, var(--accent), var(--accent-light));

		transform: translateY(-50%) skewY(calc(-15deg + calc(var(--skew) * 15deg)));

	}
}
