app-hero-content {
	display: block;
	position: absolute;
	top: 10vw;
	z-index: 10;
	width: 100vw;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;
		text-align: center;
		max-width: var(--max-width);
		margin: 0 auto;
	}

	img {
		width: 90vw;
		max-width: 540px;
	}

	h3 {
		margin-top: 0;
	}
}
